/****************** WEB-COLORS **************/
$app-color: #CC6666;
$text-color: wheat;
$text-color-dark: #1e1e28;
$bkg-light: #dbdbdb;




/****************** FONTS **************/
$text-font: 'Roboto', sans-serif;
$heading-font: 'Bungee Shade', cursive;






/****************** HEADER **************/
$header-height: 5rem;
/****************** MARGIN BETWEEN SECTIONS **************/
$section-padding: 8.75rem;
/****************** MAIN-BACKGROUND **************/
main {
  background:rgb(30,30,40); 
}

