.navigation {
    width: 100%;
    background-color: white;
    font-family: $text-font;
    position: absolute;
    top: $header-height;
    left: 0;

    height: auto;
    max-height: 0;
    overflow: hidden;

    transition: max-height .4s ease;
     
    @include media(670) {
      background-color: $app-color;
      width: auto;
      height: auto;
      max-height: none;
      transition: none;
      position: relative;
      top: 0;

      &__list {
        display: flex;
        justify-content: space-between;

        @include media(670) {
          padding: 1em;
        }
      }
    }

    &.displayed {
        max-height: 15rem;
    }

    &__item {
        text-align: center;
        border-bottom: 1px solid #dbdbdb;

        @include media(670) {
          border-bottom: none;
          background-color: #fffacd; 

          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
    }

    &__link {
        display: block;
        padding: 1em;

        @include media(670) {
          padding: .6em;
        }
    }
}

#menu-handler {
    font-size: 1.8em;
    padding:  .5em;
    color: #dbdbdb;

    @include media(670) {
      display: none;
    }
}
